.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 2px solid blue;
}
h1,
h2 {
  margin-top: 15%;
  margin-bottom: 10%;
}
.main {
  text-align: center;
  height: 1200px;
  padding: 0 150px;
}
button {
  margin: 8%;
}
.player {
  padding: 10px;
}
.trivia {
  position: sticky;
  top: 20px;
  left: 20px;
  width: 300px;
  background-color: white;
  z-index: 100;
}
.hidden {
  display: none;
}
.land {
  width: 800px;
  height: 22000px;
  background-color: darkgrey;
  margin: 0 auto;
  box-shadow: 0 0 15px black;
}
.level1, .level3, .level5, .level7, .level9, .level11, .level13 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  width: 100%;
  height: 3000px;
}

.level1 {
  background-image: url("../images/longmap1.png");

}
.level3 {
  background-image: url("../images/longmap2.png");
  top: -145px;
}
.level5 {
  background-image: url("../images/longmap3.png");
  top: -185px;
}
.level7 {
  background-image: url("../images/longmap4.png");
  top: -240px;
}
.level9 {
  background-image: url("../images/longmap5.png");
  top: -280px;
}
.level11 {
  background-image: url("../images/longmap6.png");
  top: -340px;
}
.level13 {
  background-image: url("../images/longmap7.png");
  top: -518px;
}
/*.level2, .level4, .level6, .level8, .level10, .level12, .level14 {
  position: fixed;
  top: 3000px;
  height: 20px;
  background-color: blue;
}*/
#level2, #level4, #level6, #level8, #level10, #level12, #level14, #level16 {
  width: 900px;
  position: relative;
  top: 1000px;
}
.avatar {
  height: 75px;
  width: 75px;
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.cartman {
  background-image: url("../images/cartman.png");
}
.hipster {
  background-image: url("../images/hipster.png");
}
.lisa {
  background-image: url("../images/lisa.png");
}
.spongebob {
  background-image: url("../images/spongebob.png");
}
.brian {
  background-image: url("../images/brian.jpg");
}
.yoda {
  background-image: url("../images/yoda.gif");
}
.gosling {
  background-image: url("../images/gosling.png");
}
.garfield {
  background-image: url("../images/garfield.png");
}
.blue {
  border: 3px solid blue;
}
#avatar-start > img {
  height: 75px;
  position: relative;
  left: 550px;
  top: 650px;
  z-index: 200;
}
/*.land > .avatar {
  position: fixed;
  left: 100px;

}*/
